# NPM
node_modules

# Next.js build cache and intermediate output (not needed for deployment)
core/.next/
core/out/
.next/
out/
index.txt

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# OS
.DS_Store
